{% extends 'admin/base.html' %}
<!DOCTYPE html>

{% block title %}
Bottle Admin - Add {{ model.name }}
{% endblock title %}

{% block container %}
<h3>Add {{ model.name }}</h3>
<form method="POST" action="{{ model.add_url }}">
  {% for column in model.columns %}
  <div>
    <label for="id_{{ column.name }}">{{ column.name|capitalize }}</label>
    <input type="text" name="id_{{ column.name }}" id="id_{{ column.name }}">
  </div>
  {% endfor %}
  <button type="submit">Submit</button>
</form>
{% endblock container %}

