{% extends 'admin/base.html' %}
<!DOCTYPE html>
{% block container %}
<div class="col-md-8">
  <table class="table">
    <thead>
      <tr>
        <th colspan="3">App/project name</th>
      </tr>
    </thead>
    </tbody>
      {% for model in models %}
        <tr>
          <td>
            <a href="{{ model.list_url }}">{{ model.name|capitalize }}</a>
          </td>
          <td class="text-right">
            <a href="{{ model.add_url }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a>
          </td>
          <td class="text-right">
            <a href="{{ model.change_url }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> Change</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock container %}
