<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Bottle Admin</title>
  </head>

  <body role="document">
    <div class="container" role="main">
      <table class="table">
        <thead>
          <tr>
            <th colspan="3">Name</th>
          </tr>
        </thead>
        </tbody>
          {% for model in models %}
            <tr>
              <td><a href="{{ model.list_url }}">{{ model.name }}</a></td>
              <td><a href="{{ model.add_url }}">add</a></td>
              <td><a href="{{ model.change_url }}">change</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
